/*
* VIEW BLOCK SECTION
*/
.viewBlock {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.viewBlock::-webkit-scrollbar {
  display: none !important;
}
/*! END */

/*
* EXPLORE MENU SECTION:
* ALL BOARD GAMES, FIND A BOARD GAME,
* BOARD GAMES RANKING, CATEGORIES RANKING
*/
.explore-menu {
  flex: 0;
  position: static;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  margin-top: 5rem;
  width: 100%;
}
.explore-option {
  background-color: var(--second-bg-color);
  border: 1px solid var(--bg-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.explore-menu .hiddenOption {
  color: var(--text-color);
}
.explore-option a {
  font-size: 1.8rem;
  color: var(--text-color);
  transition: 0.1s;
  text-decoration: none;
}
.explore-option:hover {
  box-shadow: 1px 1px 15px 1px var(--text-color);
}
.selectedOption {
  pointer-events: none !important;
  box-shadow: 1px 1px 15px 1px var(--text-color) !important;
}
/*! END */

/*
* EXPLORE CONTENT SECTION
*/
.explore-content {
  align-self: center;
  position: static;
  flex: 1;
  margin: 5rem 0 5rem 0;
}
/*! END */

/*
* ALL BOARD GAMES TABLE SECTION
*/
.content-wrapper .bgRecords {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: var(--second-bg-color);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  max-height: 750px;
}
.content-wrapper .bgRecords::-webkit-scrollbar {
  display: none !important;
}
.content-wrapper {
  display: flex;
  align-items: center;
}
.content-wrapper .bgRecords .allBGtable-container::-webkit-scrollbar {
  display: none !important;
}
.content-wrapper .bgRecords .table-responsive::-webkit-scrollbar {
  display: none !important;
}

.content-wrapper .bgRecords .table-responsive table {
  --bs-table-color: var(--text-color);
  --bs-table-bg: var(--second-bg-color);
}
.bgRecords caption {
  position: sticky;
  top: -10px;
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--second-bg-color);
}
.explore-content .content-wrapper .bgRecords .table-responsive table thead {
  position: sticky;
  top: 65px;
  height: 55px;
  background-color: var(--second-bg-color) !important;
  z-index: 10;
  margin-bottom: 0rem;
  vertical-align: text-top;
}
.bgRecords thead tr th {
  background-color: rgba(1, 1, 1, 0) !important;
}
.bgRecords thead tr:first-child th {
  background-color: var(--second-bg-color);
  padding-left: 1rem;
}
.bgRecords thead tr:last-child th {
  background-color: var(--second-bg-color);
  padding-right: 2rem;
}
.bgRecords th {
  text-align: center;
  word-wrap: break-word;
}

.bgRecords tbody tr td {
  height: 1.5rem;
  padding: 0.5rem;
}
.bgRecords tr {
  text-align: center;
  font-size: 1rem;
}
/*! END */

/*
* SECTION 2: FIND A BOARD GAME
? SUB-SECTION 1: COMBOBOX  
*/
#bgFinderToggler {
  display: none;
}
#bgFinderToggler .BGfinder {
  display: flex;
  flex-direction: column;
}
#bgFinderToggler .BGfinder select {
  display: flex;
}
#searchBGToggler {
  display: none;
}
.BGfinder {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--second-bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  margin: 2rem;
  justify-content: center;
}
.BGfinder .bgList-lbl {
  flex: 1;
  width: 100%;
  text-align: start;
  padding: 1rem 0;
}
.BGfinder .comboBox-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center !important;
}

/*
* SECTION 2: FIND A BOARD GAME 
? SUB-SECTION 2: BOARD GAME DETAILS TABLE 
*/
#detailsTableToggler {
  display: none;
  width: 100vw;
}
.outerBox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 1200px;
  width: 90%;
  height: 800px;
  justify-content: start;
  justify-self: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
}
.outerBox::-webkit-scrollbar {
  display: none !important;
}
.outerBox .vLayer {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-align: center;
  width: 100%;
  background-color: var(--second-bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  z-index: 20;
}
.outerBox .vLayer .firstBoxDivider {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  border-radius: 1rem;
}

.outerBox .vLayer .firstBoxDivider .leftBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: stretch;
}
.outerBox .vLayer .firstBoxDivider .leftBox .textBox {
  flex: 0;
  color: var(--text-color);
  border-radius: 1rem;
  align-self: center;
  align-content: center;
  padding: 1rem 1rem;
}
.outerBox .vLayer .firstBoxDivider .leftBox .textBox h1 {
  color: var(--text-color);
  text-shadow: 2px 1px 2px var(--main-color) !important;
}
.outerBox .vLayer .firstBoxDivider .leftBox h3 {
  padding: 1rem;
}
.outerBox .vLayer .firstBoxDivider .leftBox .featuresBox {
  flex: 0;
  text-align: start;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}

.outerBox .vLayer .firstBoxDivider .rightBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.outerBox .vLayer .firstBoxDivider .rightBox h3 {
  flex: 0;
  padding-top: 2rem;
  margin: 0;
}
.outerBox .vLayer .firstBoxDivider .rightBox .slideShowBox {
  flex: 1;
  display: flex;
  width: 100%;
  padding-top: 0.5rem;
  align-items: flex-start;
  justify-content: center;
}
.outerBox .vLayer .firstBoxDivider .rightBox .slideShowBox .displayArea {
  justify-items: center;
  align-content: start;
  width: 100%;
}
.imgBoxRed,
.imgBoxYellow,
.imgBoxBlue {
  width: 300px;
  height: 300px;
  justify-self: center;
}
.outerBox
  .vLayer
  .firstBoxDivider
  .rightBox
  .slideShowBox
  .displayArea
  .imgBoxRed {
  background-color: red;
}
.outerBox
  .vLayer
  .firstBoxDivider
  .rightBox
  .slideShowBox
  .displayArea
  .imgBoxYellow {
  background-color: yellow;
}
.outerBox
  .vLayer
  .firstBoxDivider
  .rightBox
  .slideShowBox
  .displayArea
  .imgBoxBlue {
  background-color: blue;
}
.outerBox
  .vLayer
  .firstBoxDivider
  .rightBox
  .slideShowBox
  .displayArea
  .carousel-item
  img {
  width: 100%;
  height: 100%;
}

.outerBox .vLayer .secondBoxDivider {
  flex: 0;
  width: 100%;
  margin: 1rem 0;
}
.outerBox .vLayer .secondBoxDivider .descriptionBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}
.outerBox .vLayer .secondBoxDivider .descriptionBox h3 {
  padding: 1rem;
  width: 100%;
  text-align: start;
}

.outerBox .vLayer .secondBoxDivider .descriptionBox textarea {
  margin-bottom: 3rem;
  width: 90%;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  padding-bottom: 3rem;
  overflow: auto;
}

/* Scrollbar styles for WebKit browsers */
.outerBox
  .vLayer
  .secondBoxDivider
  .descriptionBox
  textarea::-webkit-scrollbar {
  width: 10px;
}
.outerBox
  .vLayer
  .secondBoxDivider
  .descriptionBox
  textarea::-webkit-scrollbar-track {
  background: var(--bg-color);
  border-radius: 10px;
}
.outerBox
  .vLayer
  .secondBoxDivider
  .descriptionBox
  textarea::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px;
  border: 1px solid var(--text-color);
}
.outerBox
  .vLayer
  .secondBoxDivider
  .descriptionBox
  textarea::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.outerBox .thirdBoxDivider {
  flex: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  border: 5px solid rgba(0, 0, 0, 0);
  width: fit-content;
  padding: 1rem;
  background-color: var(--second-bg-color);
  z-index: 100;
}
.selectedState {
  color: var(--text-color) !;
  box-shadow: 1px 1px 15px 1px var(--text-color);
}
.outerBox .vLayer .thirdBoxDivider:hover {
  color: var(--main-color);
  border: 5px solid var(--main-color);
  box-shadow: none;
  cursor: pointer;
}
.outerBox .vLayer .unselectedState {
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  color: var(--bg-color);
}
.outerBox .vLayer:has(.selectedState) .selectedState:hover {
  color: var(--reddish);
  border: 5px solid var(--reddish);
  box-shadow: none;
  cursor: pointer;
}

.outerBox .vLayer .expandBox {
  display: flex;
  justify-self: end;
  align-items: center;
  align-content: flex-end;
  justify-content: space-evenly;
}

.outerBox .vLayer .expandBox a i {
  color: var(--bg-color);
  font-size: 2rem;
}

/*
* SECTION 2: FIND A BOARD GAME 
? SUB-SECTION 3: BOARD GAME LAST 5 SESSIONS  
*/
.outerBox .iLayer {
  flex: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-content: center;
  width: 80%;
  color: whitesmoke;
  transition: all 1s ease-in-out;
  background-color: var(--second-bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  z-index: 5;
}
.outerBox .iLayer-hide {
  border-radius: 1rem;
}
.outerBox .iLayer-show {
  padding-top: 5rem;
  transform: translateY(800px);
  box-shadow: none;
}

.outerBox .iLayer .tableBox {
  flex: 1;
  padding: 50px 2rem 0rem 2rem;
}
.outerBox .iLayer .tableBox .table-custom {
  --bs-table-bg: var(--second-bg-color) !important;
  --bs-table-color: var(--text-color);
}
.outerBox .iLayer .tableBox table {
  vertical-align: middle;
}
.outerBox .iLayer .tableBox table td {
  text-align: center;
}

.outerBox .iLayer .collapseBox {
  flex: 0;
  margin-bottom: 1rem;
}
.outerBox .iLayer .collapseBox a {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  transition: all 0.2s ease-in-out;
}
.outerBox .iLayer .collapseBox a:hover {
  border: none;
  box-shadow: 0 0 1rem var(--reddish);
}
.outerBox .iLayer .collapseBox a i {
  color: var(--text-color);
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
  width: 100%;
}
.outerBox .iLayer .collapseBox a i:hover {
  color: var(--reddish);
}

/*! END */

/*
* SECTION 3: BOARD GAMES RANKINGS
*/
#bgRankingsToggler {
  display: none;
}
.bgRankingsLists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.bgRankingsLists li {
  list-style: decimal;
}
.bgRankingsLists .list-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 1rem;
  background-color: var(--second-bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  padding: 1rem 2rem 1rem 2rem;
  animation: move 2s linear;
  animation: pulse 1.25s infinite;
}
.bgRankingsLists .rankingType {
  grid-column: 1 / span 3;
  align-content: center;
}
.bgRankingsLists .middleLine {
  grid-column: 4;
  justify-self: center;
  width: 1px;
  background-color: var(--main-color);
  height: 100%;
}
.bgRankingsLists .rankingList {
  grid-column: 5 / span 3;
  align-content: center;
}
.bgRankingsLists .rankingList ol {
  margin-bottom: 0;
}
/*! END */

/*
* SECTION 4: CATEGORIES RANKINGS
*/

.category-tables {
  display: none;
  overflow: auto;
}

.category-tables .row {
  height: 100% !important;
}
.category-tables .tableCustomizer {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  height: 100%;
  margin: 1rem 1rem;
  padding: 1px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2) !important;
}
.category-tables caption {
  color: var(--reddish);
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1rem;
  background-color: var(--second-bg-color);
}
.category-tables table {
  margin: 0;
}
/*! END */

@media screen and (max-width: 2560px) {
  .outerBox .iLayer-show {
    transform: translateY(670px);
    box-shadow: none;
  }
}

/* macbook m3 */
@media screen and (max-width: 1512px) {
  .explore-tables-area {
    margin-top: 0;
  }
  .explore-menu {
    gap: 0;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1440px) {
  explore-tables-area {
    padding-top: 0rem;
  }

  .explore-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: stretch;
    justify-content: space-evenly;
    text-align: center;
  }
  .explore-menu .explore-option {
    align-content: center;
  }
  .explore-menu .allBG {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
  }

  .explore-menu .searchBG {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }

  .outerBox .iLayer-show {
    transform: translateY(665px);
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .viewBlock {
    margin-top: 2rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .explore-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
    justify-content: center;
    width: 60vw;
  }
  .explore-menu .explore-option {
    width: 10rem;
    height: 10rem;
    align-content: center;
    text-align: center;
    margin: 1.5rem;
  }
  .explore-menu .explore-option a {
    font-size: 1.5rem;
  }

  .outerBox .iLayer-show {
    transform: translateY(700px);
  }

  .bgRankingsLists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;
    min-height: 80px;
  }
}

@media screen and (max-width: 575px) {
  .explore-menu {
    position: static;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 100vw;
    gap: 1rem;
  }
  .explore-menu .hiddenOption {
    display: none;
  }
  .explore-menu .explore-option {
    padding: 0 2rem;
    margin: 3rem;
    justify-items: center;
    height: 12rem;
    width: 12rem;
    align-self: center;
  }

  .explore-content {
    position: static;
    align-self: center;
    align-items: center;
    margin: 2rem 0 10rem 0;
    width: 95%;
    flex: 1;
  }

  .explore-content .content-wrapper {
    justify-content: center;
  }
  .explore-content .content-wrapper .bgRecords {
    padding: 1rem !important;
    margin: 0 !important;
    width: 100%;
  }
  .explore-content .content-wrapper .bgRecords .table-responsive table caption {
    text-align: start;
    padding-bottom: 1rem;
  }
  .explore-content .content-wrapper .bgRecords .table-responsive table thead {
    top: 35px;
    height: 50px;
  }
  .explore-content table th,
  .explore-content table td {
    font-size: 1rem !important;
  }

  #bgFinderToggler {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-self: center;
    justify-items: center;
  }
  .bgList-lbl {
    text-align: center !important;
    font-size: 1.5rem;
  }
  .BGfinder .comboBox-wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 3rem;
  }
  .comboBox {
    font-size: 1.5rem;
  }
  .detailsButton .btn {
    --bs-btn-font-size: 1.5rem;
  }

  .outerBox {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 90vw;
    margin: 3rem 0;
  }
  .outerBox .vLayer {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: fit-content;
    gap: 2rem;
  }
  .outerBox .vLayer h1 {
    font-size: 3rem;
  }
  .outerBox .vLayer .firstBoxDivider {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .imgBoxRed,
  .imgBoxBlue,
  .imgBoxYellow {
    transform: scale(0.8, 0.8);
  }
  .category-tables caption {
    padding: 0;
  }
  .category-tables img {
    transform: scale(0.5, 0.5);
  }
  .outerBox .iLayer {
    width: 100% !important;
  }
  .outerBox .iLayer-show {
    transform: translateY(765px);
  }
}

@media screen and (max-width: 320px) {
  .explore-menu .explore-option {
    margin: 1rem;
    height: 10rem;
  }
  .outerBox .vLayer h1 {
    font-size: 2.5rem;
  }
  .outerBox .iLayer-show {
    transform: translateY(800px);
  }
}

@keyframes move {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.25);
    box-shadow: 1px 1px 10px 10px var(--reddish);
  }
  50% {
    transform: scale(0.5);
    box-shadow: 1px 1px 10px 10px var(--main-color);
  }
  75% {
    transform: scale(0.75);
    box-shadow: 1px 1px 10px 10px var(--text-color);
  }
  100% {
    margin: 5rem;
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1.05);
  }
}
