.header {
  background-color: var(--second-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 600;
}
#role-initial {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border: 2px solid var(--main-color);
  border-radius: 50%;
}
.navbar a {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--main-color);
}

#ul-profile-configurations {
  background-color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--text-color) !important;
}
#ul-profile-configurations .config-item:hover {
  background-color: var(--bg-color) !important;
  font-weight: bold;
  box-shadow: 0 0 1rem var(--text-color) !important;
}
#li-edit-profile:hover {
  color: var(--greenish);
  box-shadow: 0 0 1rem var(--greenish) !important;
}
#li-change-password:hover {
  color: var(--yellowish);
  box-shadow: 0 0 1rem var(--yellowish) !important;
}
#li-delete-profile:hover {
  color: var(--reddish);
  box-shadow: 0 0 1rem var(--reddish) !important;
}
#li-backup-data:hover {
  color: var(--text-color);
  font-weight: bold;
  box-shadow: 0 0 1rem var(--main-color) !important;
}
#li-sign-out:hover {
  color: var(--main-color);
  font-weight: bold;
  box-shadow: 0 0 1rem var(--main-color) !important;
}

.navHamburger {
  display: none;
}

/* USERS PROFILE CONFIGS*/
#users-profile-configurations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
#edit-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 35rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--second-bg-color);
  z-index: 2000;
}

.btn-theme {
  height: 3rem;
  width: 10rem;
  color: var(--text-color) !important;
  border: none !important;
  border-radius: 2rem !important;
  box-shadow: 0px 0px 10px 10px var(--bg-color) !important;
}
.btn-theme:hover {
  color: var(--main-color) !important;
  background-color: var(--bg-color) !important;
  box-shadow: 0px 0px 10px 5px var(--text-color) !important;
}

#img-access-lifecounter:hover img {
  filter: brightness(0) saturate(100%) invert(59%) sepia(85%) saturate(1462%)
    hue-rotate(146deg) brightness(101%) contrast(105%);
}

@media screen and (max-width: 1350px) {
  .header {
    padding: 0 5%;
  }
  .logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navOptions {
    display: none !important;
  }
  .navHamburger {
    display: flex;
  }
  .navbar-toggler {
    color: var(--main-color);
    font-size: 2rem;
    border: none;
    background-color: var(--second-bg-color);
  }
  .container-fluid {
    justify-content: end;
    text-align: end;
  }

  .navbar-toggler:hover {
    color: var(--text-color);
    background-color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--text-color) !important;
  }

  .header .navbar-toggler:focus {
    box-shadow: none;
  }
}
