.footer {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--second-bg-color);
  z-index: 100;
}
.footer-text {
  margin: 1rem;
}
.footer-text p {
  transition: all 0.5s;
  padding: 0;
  margin: 0;
}

.top-icon {
  margin: 1rem;
}
.top-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 50%;
}
.top-icon a:hover {
  box-shadow: 0 0 1 var(--main-color);
}
.top-icon a i {
  font-size: 1rem;
  color: var(--second-bg-color);
}
.credits {
  font-size: 0.6rem !important;
}
.credits a {
  color: var(--text-color);
}

@media screen and (max-height: 500px) {
  .footer {
    background-color: transparent;
    z-index: 0;
  }
}
