main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-logo {
  position: fixed;
  top: 10px;
  left: 0px;
  width: fit-content;
  z-index: 101;
  background-color: var(--second-bg-color);
}

#img-mab-icon {
  margin: 20px 0px;
  width: 30px;
  height: 30px;
}

#mab-containers-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  z-index: 1;
}

#container-mab-main-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: start;
  z-index: 2;
}

#container-mab-main-menu,
#container-mab-new-campaign,
#container-mab-continue-campaign,
#container-mab-battle,
#container-mab-active-deck,
#container-mab-new-deck,
#container-mab-store,
#container-mab-campaign-statistics {
  position: absolute;
  width: fit-content;
  left: 50vw;
  transform: translateX(-50%);
}

.show-div {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}
.hide-div {
  pointer-events: none !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out;
}

.paint-green,
.paint-yellow,
.paint-red {
  transition: all 0.3s ease-in-out;
}
.paint-green {
  font-weight: 100;
  color: var(--greenish);
}
.paint-yellow {
  font-weight: 500;
  color: var(--yellowish);
}
.paint-red {
  font-weight: 900;
  color: var(--reddish);
}

.mab-cards-list {
  padding: 10px 10px 10px 10px;
  border: 1px solid var(--text-color);
  border-radius: 12px;
  background-color: var(--second-bg-color);
}

.deck-balance-chart-style {
  width: 650px !important;
  height: 650px !important;
}

.trophy-icon {
  width: 64px;
  height: 64px;
  transition: content 0.3s; /* smooth change */
}

.tooltip-inner {
  min-width: 5rem !important;
}

@media screen and (max-width: 1440px) {
  #game-logo {
    top: 75px;
    width: 100%;
    z-index: 99;
    background-color: var(--bg-color);
  }
}

@media screen and (max-width: 1099px) {
  main {
    margin-top: 160px;
  }
  #game-logo {
    top: 85px;
    width: 100%;
    z-index: 99;
    background-color: var(--bg-color);
  }
  #div-deck-data-content {
    flex-direction: column !important;
  }
}

@media screen and (max-width: 990px) {
  main {
    margin-top: 100px;
  }
  #game-logo {
    top: 20px;
    left: 200px;
    width: fit-content;
    z-index: 101;
    background-color: var(--second-bg-color);
  }
  #img-mab-icon {
    margin: 0px 0px;
    width: 30px;
    height: 30px;
  }
  #container-manage-mab-player-decks {
    width: 90vw;
  }
}
@media screen and (max-width: 576px) {
  main {
    margin-top: 80px;
  }
  #game-logo {
    position: absolute; /* or fixed if you want it relative to viewport */
    top: 5px;
    left: 180px;
    width: fit-content;
    z-index: 101;
    background-color: var(--second-bg-color);
  }

  #img-mab-icon {
    margin: 0;
    width: 30px;
    height: 30px;
  }

  #container-mab-main-menu,
  #container-mab-new-campaign,
  #container-mab-continue-campaign,
  #container-mab-battle,
  #container-mab-active-deck,
  #container-mab-new-deck,
  #container-mab-store,
  #container-mab-campaign-statistics {
    width: 90vw;
  }

  .deck-balance-chart-style {
    display: none;
  }
}
