main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  position: fixed;
  left: 15px;
  z-index: 9999;
  top: 100px;
}

#mab-icon {
  width: 100px;
  height: 100px;
}

#mab-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  z-index: 1;
}

#mab-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;

  align-items: start;

  z-index: 2;
}

#container-mab-start-new-campaign-form,
#container-manage-mab-player-decks,
#container-add-mab-deck,
#container-mab-load-campaign,
#container-mab-campaign-stats {
  position: absolute;
}

.show-div {
  opacity: 1 !important;
  transition: opacity 1s ease-in-out;
}
.hide-div {
  pointer-events: none !important;
  opacity: 0 !important;
  transition: opacity 0.3s ease-in-out;
}

.paint-green,
.paint-yellow,
.paint-red {
  transition: all 0.3s ease-in-out;
}
.paint-green {
  font-weight: 100;
  color: var(--greenish);
}
.paint-yellow {
  font-weight: 500;
  color: var(--yellowish);
}
.paint-red {
  font-weight: 900;
  color: var(--reddish);
}

.trophy-icon {
  width: 64px;
  height: 64px;
  transition: content 0.3s; /* smooth change */
}

.tooltip-inner {
  min-width: 5rem !important;
}

.deck-balance-chart-style {
  width: 650px !important;
  height: 650px !important;
}

@media screen and (max-width: 990px) {
  .game-title {
    top: 90px !important;
  }
  #mab-icon {
    width: 60px;
    height: 60px;
  }
}
@media screen and (max-width: 575px) {
  .game-title {
    top: 60px !important;
  }
  #mab-icon {
    width: 25px;
    height: 25px;
  }
}
