#users-configurations-edit-profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-bg-color);
  z-index: 1;
}
#edit-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 28rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 2px var(--greenish);
  background-color: var(--second-bg-color);
}

#change-password a {
  text-decoration: none;
  color: var(--reddish);
}
#change-password:hover {
  box-shadow: 0 0 10px 1px var(--reddish);
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}
