section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--second-bg-color);
  z-index: 1;
}

#change-password-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 35rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--second-bg-color);
  z-index: 2000;
}
.red-alert-one {
  box-shadow: 0px 0px 10px 2px var(--yellowish);
}
.red-alert-two {
  box-shadow: 1px 1px 10px 10px var(--reddish);
}
.blue-alert {
  box-shadow: 1px 1px 10px 10px var(--main-color);
}

#cancel-change-password a {
  text-decoration: none !important;
  color: var(--reddish);
}
#cancel-change-password:hover a {
  color: var(--text-color) !important;
}

#toggle-new-password,
#toggle-confirm-password {
  opacity: 0;
  visibility: hidden;
  transition: 1s ease, visibility 0.5s ease;
}
