.data-base-content {
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2) !important;
}
.modal-header {
  justify-content: space-between;
}

.custom-close {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.25rem;
}
.custom-close:hover {
  color: var(--reddish);
}

.table > :not(caption) > * > * {
  background-color: var(--bg-color) !important;
}
.table-dark {
  border: var(--second-bg-color);
}

.table-fixed {
  table-layout: fixed;
  width: 100%; /* obrigatório para o 'fixed' funcionar corretamente */
}
.tabela-fixed th,
.tabela-fixed td {
  text-align: center; /* opcional */
  word-wrap: break-word;
  overflow-wrap: break-word;
}
