.bg-add-edit-content {
  color: var(--text-color);
  background-color: var(--second-bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2) !important;
}
.modal-header {
  justify-content: space-between;
}
