.modal-content {
  color: var(--text-color);
  background-color: var(--second-bg-color);
}

#button-close-signIn-modal {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: var(--reddish);
  font-size: 2rem;
}
#button-close-signIn-modal:hover {
  color: var(--reddish);
  background-color: transparent;
  box-shadow: 0 0 10px 1px var(--text-color);
}
