.modal-content {
  color: var(--text-color);
  background-color: var(--second-bg-color);
}

#button-close-signIn-modal {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  color: var(--reddish);
  font-size: 2rem;
}
#button-close-signIn-modal:hover {
  color: var(--text-color);
}

@media screen and (max-width: 1700px) {
  #header-lifeCounter-explore > div {
    :flex ;
    flex-direction: column !important;
  }
}
