#developers-tools {
  margin-top: 15rem;
  border: 1px solid var(--bg-color);
  border-radius: 2rem;
  background-color: var(--second-bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 80rem;
}
@media screen and (max-width: 1550px) {
  #developers-tools {
    margin-top: 8rem;
  }
}
