.header-lifecounter-new {
  background-color: var(--second-bg-color);
}

/* Hide the default checkbox */
.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 100px !important;
  height: 50px !important;
  border-radius: 4px;
  background-color: var(--text-color);
  position: relative;
  cursor: pointer;
}

/* Checked state */
.custom-checkbox:checked {
  background-color: var(--main-color);
  color: var(--text-color);
  border-color: var(--main-color);
}

/* Custom checkmark icon */
.custom-checkbox:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-weight: bold;
  font-size: 12px;
}
