section {
  min-height: 100vh;
  padding: 5rem 10%;
  z-index: 100;
}

.header {
  background-color: var(--second-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 600;
}
.navbar a {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover {
  color: var(--main-color);
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
  }
  .header {
    flex-direction: column;
    gap: 2rem;
  }
}
@media screen and (max-width: 350px) {
}
