main {
  width: 100vw;
  height: 100vh;
  padding: 4rem 0 10rem 0;
}

#toggleUserDetails {
  display: none;
}
#toggleUserDetails button {
  animation: pulse 1s infinite;
}

.users-options {
  background-color: var(--second-bg-color);
}
.users-options .btn {
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  border: none !important;
  margin: 1.5rem;
}
.users-options .btn:hover {
  box-shadow: 1px 1px 15px 1px var(--text-color);
}

.user-menu-button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.selectedUserMenuOption {
  box-shadow: 1px 1px 10px 8px black !important;
}

.flip-card-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.flip-card-wrapper p {
  color: var(--text-color);
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  align-self: center;
  background-color: transparent;
  max-width: 600px;
  width: 60vw;
  min-width: 400px;
  max-height: 700px;
  height: 70vw;
  min-height: 350px;
  border: 1px solid var(--bg-color);
  border-radius: 2rem;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  perspective: 10000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 60s;
  transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 2rem;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--second-bg-color);
}

/* Style the back side */
.flip-card-back {
  background-color: var(--second-bg-color);
  color: white;
  transform: rotateY(180deg);
}

/* Clear button positioning */
.select2-container--classic
  .select2-selection--single
  .select2-selection__clear {
  margin-right: 10px !important;
}

/* MOVE EVERYTHING BELLOW TO THE HEADER CSS */
#users-profile-configurations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
#edit-profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 35rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: var(--second-bg-color);
  z-index: 2000;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}

hr {
  border: none; /* remove bordas padrão */
  border-top: 1px solid #ccc; /* desenha apenas uma linha fina */
  margin: 10px 0; /* espaçamento acima e abaixo */
  width: 100%; /* opcional: define largura */
  opacity: 0.6; /* opcional: semitransparente */
}
