main {
  display: flex;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
}
.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.signUpOption:hover,
.signInOption:hover {
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#signing-options {
  display: none;
  width: 25rem;
}

#signUpBox,
#signInBox {
  background-color: var(--second-bg-color);
  border: 1px solid var(--bg-color);
  border-radius: 2rem;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
}

.active {
  color: var(--main-color);
  pointer-events: none;
}
