.header {
  background-color: var(--second-bg-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 90;
}
.header .logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 600;
}
.header .navbar a {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
}
.header .navbar a:hover {
  color: var(--main-color);
}
.header .navbar .navHamburger {
  display: none;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 991px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header .logo {
    font-size: 30px;
  }
  .header .navbar .navOptions {
    display: none;
  }
  .header .navbar .navHamburger {
    display: flex;
  }
  .header .navbar-toggler {
    color: var(--bg-color);
    font-size: 2rem;
    border: none;
    background-color: var(--second-bg-color);
  }
  .header .container-fluid {
    justify-content: end;
    text-align: end;
  }

  .header .navbar-toggler:hover {
    color: var(--text-color);
    background-color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--text-color) !important;
  }

  .header .navbar-toggler:focus {
    box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 576px) {
}
@media screen and (max-width: 375px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 50%;
  }
}
