section {
  min-height: 100vh;
  padding: 5rem 10%;
  justify-self: center;
  z-index: 100;
}

.viewBlock {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.explore-menu {
  position: fixed;
  top: 35px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: center;
}
.explore-option {
  background-color: var(--second-bg-color);
  border: 1px solid var(--bg-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 1rem black;
}

.explore-option a {
  font-size: 1.8rem;
  color: var(--text-color);
  transition: 0.1s;
  text-decoration: none;
}
.explore-option a:hover {
  color: var(--main-color);
}
.explore-option a:hover span {
  color: var(--text-color);
}

.explore-tables-area {
  padding-top: 5rem;
}

.boardGames-table {
  display: flex;
  justify-self: center;
  align-self: center;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem 2rem 0rem 2rem;
  max-height: 300px;
  overflow: auto;
  /* scrollbar-color: var(--main-color) transparent; */
}
.boardGames-table::-webkit-scrollbar {
  display: none !important;
}

.boardGames-table caption {
  color: var(--reddish);
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1rem;
}
.boardGames-table thead {
  background-color: var(--bg-color);
  box-shadow: 0 0 1rem black;
  position: sticky;
  top: 0;
  z-index: 1;
}
.boardGames-table th {
  text-align: center;
  word-wrap: break-word;
  padding: 1rem;
}

.boardGames-table tbody tr td {
  height: 1.5rem;
  padding: 0.5rem;
}
.boardGames-table tr {
  text-align: center;
  font-size: 1rem;
}

#bgRankingListsToggler {
  display: none;
}
.bgRankingsLists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.bgRankingsLists li {
  list-style: decimal;
}

.bgRankingsLists .list-box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.bgRankingsLists .rankingType {
  grid-column: 1 / span 3;
  align-content: center;
}
.bgRankingsLists .middleLine {
  grid-column: 4;
  justify-self: center;
  width: 1px;
  background-color: var(--main-color);
  height: 100%;
}

.bgRankingsLists .rankingList {
  grid-column: 5 / span 3;
  align-content: center;
}
.bgRankingsLists .rankingList ol {
  margin-bottom: 0;
}

.category-tables caption {
  color: var(--reddish);
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  background-color: var(--second-bg-color);
}

.BGfinder {
  display: flex;
  flex-direction: column;
}
.BGfinder select {
  display: flex;
}

@media screen and (max-width: 3340px) {
}

@media screen and (max-width: 610px) {
  .explore-tables-area {
    padding-top: 10rem;
  }
}
@media screen and (max-width: 576px) {
  section {
    min-height: 100vh;
    padding: 10rem 10%;
    z-index: 100;
  }
  .bgRankingsLists {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;
    min-height: 80px;
  }
  .explore-menu {
    top: 80px;
    padding-top: 10px;
  }
}
@media screen and (max-width: 415px) {
  .explore-tables-area {
    padding-top: 15rem;
  }
}

@media screen and (max-width: 350px) {
  section {
    min-height: 100vh;
    padding: 10rem 10%;
    z-index: 100;
  }
  .explore-menu {
    top: 100px;
    padding-top: 10px;
  }
}
/* 
@media screen and (max-width: 991px) {
}
@media screen and (max-width: 768px) {
}
*/
