.viewBlock {
  display: flex;
  flex-direction: column;
  height: 75vh;
}

.explore-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.explore-option {
  border: 1px solid var(--bg-color);
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  box-shadow: 0 0 1rem black;
}

.explore-option a {
  font-size: 1.8rem;
  color: var(--text-color);
  transition: 0.1s;
  text-decoration: none;
}
.explore-option a:hover {
  color: var(--main-color);
}
.explore-option a:hover span {
  color: var(--text-color);
}

.primary-table {
  display: flex;
  justify-self: center;
  align-self: center;
  border: 2px solid var(--main-color);
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem 5rem 0rem 5rem;
}
.primary-table caption {
  color: var(--reddish);
  font-size: 1.8rem;
  text-align: center;
  padding-bottom: 1rem;
}
.primary-table thead {
  box-shadow: 0 0 1rem black;
}
.primary-table th {
  text-align: center;
  word-wrap: break-word;
  padding: 1rem;
}

.primary-table tbody tr td {
  height: 1.5rem;
  padding: 0.5rem;
}
.primary-table tr {
  text-align: center;
  font-size: 1rem;
}
