#adm-tools {
  margin-top: 15rem;
  border: 1px solid var(--bg-color);
  border-radius: 2rem;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.2);
  max-width: 80rem;
}

#adm-options {
  border-radius: 2rem;
  background-color: var(--second-bg-color);
}
